.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.npm-cache
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
